
body,div,p {
    margin: 0;
    padding: 0
}

article,aside,details,canvas,figcaption,figure,footer,header,main,nav,section,summary {
    display: block
}

html {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

img {
    border: 0;
    vertical-align: top
}

dl,dt,dd,ul,ol,li {
    list-style: none;
    margin: 0;
    padding: 0
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal
}

input,textarea,button {
    margin: 0;
    padding: 0;
    outline: none;
    resize: none;
    font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","å¾®è½¯é›…é»‘",'Segoe UI',Tahoma,"å®‹ä½“b8b\4f53",SimSun,sans-serif
}

input[type="search"] {
    box-sizing: content-box
}

button {
    border: 0
}

em,i,b,strong {
    font-weight: 400;
    font-style: normal
}

iframe {
    border: 0;
    margin: 0;
    padding: 0
}

body {
    font-size: 14px;
    color: #333;
    font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","å¾®è½¯é›…é»‘",'Segoe UI',Tahoma,"å®‹ä½“b8b\4f53",SimSun,sans-serif;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
a{text-decoration: none}
/* 利用伪元素清除浮动 - 最常用*/
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
/* img 图片鼠标移上的动画*/
.xiaoqu li a:hover img{
    transform: scale(1.03);
}



.home-nav{width: 1150px;height:149px;margin:50px auto;}
.home-nav li{float:left;width: 25%;text-align: center}
.home-nav li img{width: 76px;height: 65px;margin-bottom: 17px;}
.home-nav li h2{font-size:18px;color:#394043}
.home-nav li p{width: 183px;margin:3px auto 5px;font-size: 12px;color:#b0b3b4}

.home-nav li a:hover img{
    animation: box2 .3s  ease-out     0s     1       normal   forwards ,
                box1 1.5s ease-in-out .3s infinite  alternate forwards;

      /*animation:box1 1.5s ease-in-out infinite forwards*/
}
@keyframes box1 {
    0%{transform: translateY(-8px)}
    50%{transform: translateY(-4px)}
    100%{transform: translateY(-8px)}
}

@keyframes box2 {
    100%{transform: translateY(-8px)}
}

/*图文模块 - 版心*/
/*box-shadow: 盒子阴影
1.x轴的偏移量
2.y轴的偏移量
3.阴影的模糊半径 值越大 越模糊
4.阴影的扩展半径
5.阴影的颜色
rgb - 0 ,0,0 黑色
a - alpha透明度
*/
.ershoufang{width: 1150px;margin:50px auto;}
.ershoufang ul{width:1200px;}
.ershoufang li{float:left;width: 250px;margin-right:50px;}
.ershoufang .pic{width: 250px;height: 264px;box-shadow: 0 2px 4px rgba(0,0,0,.2);}
.ershoufang .pic img{width: 250px;height: 192px;}
.ershoufang .pic h2{padding:10px 18px 0;font-size:16px;color:#394043;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.ershoufang .pic p{padding:0 18px;font-size:0;color:#999;height: 45px;line-height: 45px;overflow: hidden}
.ershoufang .pic span{font-size: 12px;margin-right:8px;}
.ershoufang  .tips{font-size: 12px;color:#aaa;line-height: 45px;}

/* 小区 */
.fl{float: left}
.fr{float: right}
.xiaoqu li{width:350px;}
.xiaoqu li .pic{width: 350px;height:284px; }
.ershoufang .img{width: 350px;height: 200px;overflow: hidden}
.xiaoqu li .pic img{width: 350px;height: 200px;transition: all 1s ease}
.xiaoqu li .pic h2{font-weight: bold;font-size: 19px;}
.xiaoqu .fl{font-weight: bold;font-size:14px;color:#394043}
.xiaoqu .fr{font-weight: bold;}

/* 新房*/
.xinfeng .pic{position: relative;box-shadow: none;height: 260px;}

.xinfeng li .pic  h2{position: absolute;top:20px;left:0;right:0;text-align: center;font-size: 24px;color:#fff;}

.xinfeng li .pic p{position: absolute;top:50px;left:0;right:0;text-align: center;font-size: 20px;color:#fff2ab;font-weight: 700;}






