
*{
    margin: 0;
    padding: 0;
}
/*单屏模式*/
body ,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pic{
    overflow: hidden;
}
.walking1{
    float: left;
margin-left: 420px;
    margin-top: 50px;
    width: 200px;
    height: 312px;
    background: url("images/walkingdead.png");
    background-repeat: no-repeat;
    animation: walking1 1s steps(10) infinite ;
}
.walking2{

    margin-top: 100px;
    float: left;
    width: 200px;
    height: 312px;
    background: url("images/walkingdead.png");
    background-repeat: no-repeat;
    animation: walking2 1s steps(10) infinite ;
}
@keyframes walking1 {
    0%{background-position: 0 0}
    100%{ background-position: -2000px 0;}
}
@keyframes walking2 {
    0%{background-position: 0 0}
    100%{ background-position: -2000px 0;}
}
.bg{
    margin-left: 250px;
    margin-top: 30px;
    width: 1000px;
    height: 1000px;
    background:url("images/足球1 (5).jpg") no-repeat;
    }
.music{
    width: 140px;
    height: 100px;
    background: url("images/music.png");
    background-repeat: no-repeat;
    animation: music 1s steps(15) infinite ;
}

@keyframes music {
    0%{background-position: 0 0}/*开始的关键帧*/
    100%{ background-position: -2100px 0;}/*结束关键帧*/
}










