body,div,p {
    margin: 0;
    padding: 0;
}

article,aside,details,canvas,figcaption,figure,footer,header,main,nav,section,summary {
    display: block;
}

html {
    overflow-y: scroll;/*让根元素在竖直方向有滚动条*/
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

img {
    border: 0;
    vertical-align: top/*图片没有外边距*/
}

dl,dt,dd,ul,ol,li {
    list-style: none;
    margin: 0;
    padding: 0
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

input,textarea,button {
    margin: 0;
    padding: 0;
    outline: none;
    resize: none;
    font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","å¾è½¯é›…é»‘",'Segoe UI',"å‹ä½“b8b\4f53",sans-serif
}

input[type="search"] {
    box-sizing: content-box
}

button {
    border: 0
}

em,i,b,strong {
    font-weight: 400;
    font-style: normal
}

iframe {
    border: 0;
    margin: 0;
    padding: 0
}

body {
    font-size: 14px;
    color: #333;
    font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei",Tahoma,SimSun,sans-serif;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

/*这是 home-nav 的代码*/
a{
    text-decoration: none;
}
.clearfix:after{
    content:'' ;
    display: block;
    clear: both;
}
.home-nav{
    width: 1150px;
    height: 149px;
    margin: 50px auto;
}
.home-nav li{
    float: left;
    width: 25%;
    text-align: center;
}
.home-nav li img{
    margin-bottom: 17px;
    width: 76px;
    height: 65px;
}
.home-nav li p{
    width: 183px;
    margin: 3px auto 5px;
    font-size: 12px;
    color: #b0b3b4;
}
.home-nav li b {
    font-size: 18px;
    color: #394043;
}

.home-nav li a:hover img{
    animation: pic1 .3s ease-out 0s 1 normal forwards,
                pic 1.5s ease-in-out .3s infinite alternate forwards;
    /*animation: pic 1.5s ease-in-out infinite ;*/
}



@keyframes pic{
    0%{transform: translateY(-8px);-webkit-transform: translateY(-8px)}
    50%{transform: translateY(-4px)}
    100%{transform: translateY(-8px);-webkit-transform: translateY(-8px)}
}

@keyframes pic1{
    100%{transform: translateY(-8px);-webkit-transform: translateY(-8px)}
}


/*下面是链家随堂的代码*/

.ershoufang{
    background: #fff;
    width: 1150px;
    margin: 50px auto;
}
.ershoufang li{
    width: 250px;
    margin-right: 50px;
}
/*box-shadow :盒子阴影
1.x轴的偏移量
2.y轴的偏移量
3.阴影的模糊半径 值越大越模糊
4.阴影的扩大半径
5.阴影的颜色*/
.ershoufang li a{
    text-decoration: none;
}
.ershoufang ul{
    width: 1200px;
}
.ershoufang ul li{
    float: left;
    width: 250px;
}
.ershoufang .pic{
    width: 250px;
    height: 264px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);

}
.ershoufang .pic img{
    width: 250px;
    height: 192px;
}
.pic h2{
    padding: 10px 18px 0;
    font-size: 16px;
    color: #394043;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ershoufang .pic p{
    padding: 0 18px;
    height: 45px;
    color: #999;
    line-height: 45px;
    font-size: 0;
    overflow: hidden;
}
/*行内元素会受空格的影响有间距*/

.ershoufang .pic span{
    font-size: 12px;
    margin-right: 8px;
}
.ershoufang .tips{
    font-size: 12px;
    color: #aaa;
    line-height: 45px;
}

/*小区*/
.xiaoqu ul li{  width: 350px;  height: 284px;}
.xiaoqu li .pic{width: 350px;height: 284px;}
.xiaoqu li .pic img{width: 350px;height: 200px; transition: all 1s ease}
.xiaoqu .pic h2{ color: #394043;  font-size: 19px;  font-weight: bold; }
.fl{ float: left;}
.fr{ float: right;}
.xiaoqu .pic p{
    color: #394043;
    font-size: 14px;
    font-weight: bold;
}
.xiaoqu .pic p .fr{
    color: #888c8e;
    font-size: 12px;
}
.xiaoqu .pic .picimg{width: 350px;height: 200px;overflow: hidden}
.xiaoqu li a:hover img{
    transform: scale(1.1);
}
/*新加的*/
.piccontent{
    width: 1150px;
    height: 378px;
    margin: auto;
}
.piccontent .name{
    background: url("images/xiaoqu-recom.png") no-repeat;
    width: 187px;
    height: 28px;
    background-size: 100%;;
}
.piccontent p{
    color: #888;
    margin-top: 10px;
    width: 1150px;
}
.piccontent p a{
    float: right;
    color: #394043;
    margin-left: 20px;
   float: right;
}
.xiaotu-list{
    width: 100%;
    height: 450px;
    padding-top: 50px;

}
/*下面是新房的代码*/

.xinfang li .pic{
    position: relative;
    box-shadow: none;
}
.xinfang .pic h2{
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    color: #fff;
}
.xinfang .pic p{ position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    color: #fff2ab;
    font-size: 20px;
}



























